@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url('./whitewolf.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction:column ;
    align-items: center;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
h1{
    font-weight: normal;
    font-size:4rem ;
    margin-top: -40;
}
.countdown-container {
    display:flex;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height:1;
    margin: 0 2rem;
}
.countdown-el {
    text-align:center ;
}
.countdown-el span {
    font-size: 1.5rem;
    font-weight: bold;
}