* {
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    color: #093a6b;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
  }

  .start-popup {
    background-color: #174b80;
    border-radius: 5px;
    padding: 40px 100px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  }

  .start-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }
  
  h1 {
    margin: 20px 0 0;
  }
  
  .game-container {
    display: none;
    padding: 20px 10px;
    position: relative;
    margin: auto;
    height: 450px;
    width: 250px;
  }
  
  .figure-container {
    fill: transparent;
    stroke: #093a6b;
    stroke-width: 4px;
    stroke-linecap: round;
  }
  
  .figure-part {
    display: none;
  }
  
  .wrong-letters-container {
    position: relative;
    float: right;
    flex-direction: column;
    text-align: right;
    display: flex;
  }

  .wrong-letters {
      color: rgb(104, 6, 143);
  }
  
  .wrong-letters-container p {
    margin: 0 0 5px;
  }
  
  .wrong-letters-container span {
    font-size: 24px;
  }
  
  .word {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .letter {
    border-bottom: 3px solid #2980b9;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
  }
  
  .popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .popup {
    background: #174b80 ;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }

  .final-message {
    color:black ;
  }
  
  .popup button {
    cursor: pointer;
    background-color:#127eeb7a ;
    color: black;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
  }
  
  .popup button:active {
    transform: scale(0.98);
  }
  
  .popup button:focus {
    outline: 0;
  }
  
  .notification-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom: -50px;
    transition: transform 0.3s ease-in-out;
  }
  
  .notification-container p {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .notification-container.show {
    transform: translateY(-50px);
  }