@use './custom/about';
@use './custom/home';
@use './custom/projects';
@use './custom/contacts';

@font-face {
  font-family: 'OmniglotFont-mLWLv';
  src: url('../fonts/OmniglotFont-mLWLv.eot');
  src: url('../fonts/OmniglotFont-mLWLv.eot?#iefix') format('embedded-opentype'),
      url('../fonts/OmniglotFont-mLWLv.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
  font-family: 'OmniglotFont';
  src: url('../fonts/OmniglotFont.svg#OmniglotFont') format('svg'),
      url('../fonts/OmniglotFont.ttf') format('truetype'),
      url('../fonts/OmniglotFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800;900&family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
@import url('http://fonts.cdnfonts.com/css/nolluqa-personal-use');

* {
    box-sizing: border-box;
    font-family: 'Oxygen', 'OmniglotFont'  "Nolluqa", sans-serif;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
  }

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fdfaf3;
  border-radius: 10px;
}

html {
    body {
    padding: 0;
    margin: 0;
    color: black;
    width: 100vw;
    height: 100%;
    overflow: auto;
    background-color: #121212;
    color: #fdfaf3;
    overflow-x: hidden;
    overscroll-behavior: none;
    }
  }

#root {
  width: 100vw !important;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.outer-home {
  width: 100vw;
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  height: 100vh;
}


canvas {
 overflow: hidden;
}

.char {
  display: inline-block;
  will-change: transform;
}
